@import "mocha.css";


* {
  /* reference the color by using @color-name */
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base,1);
  color: #f9e2af;
  font-family: Jetbrains Mono Nerdfont;
  font-size: 16px;
}
